//--------------------------------------------
// Variables
//--------------------------------------------

$navHeight: 65px;
$mainPanelHeight: 500px;
$buttonRadius: 15px;
$navLinkColor: lighten(#4E104F, 20%);
$navLinkColorNo: #a9a9a9;
$transitionSpeed: 0.5s;
$navColor: #e4e4e4;

//--------------------------------------------
// Imports
//--------------------------------------------

@import "settings";
@import "foundation";

//-------------------------------------------
// Fonts
//-------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

//--------------------------------------------
// Mixins
//--------------------------------------------

@mixin main-panel-text{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:-2px;
}
@mixin button-radius{
	-webkit-border-radius: $buttonRadius;
	-moz-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
}
@mixin transitionEase{
	-webkit-transition: all $transitionSpeed ease;
	-moz-transition: all $transitionSpeed ease;
	-o-transition: all $transitionSpeed ease;
	transition: all $transitionSpeed ease;
}

//--------------------------------------------
// SCSS
//--------------------------------------------

.main-panel {
	@include panel();
	height: $mainPanelHeight;
	border: none;
	margin-bottom:0;
	padding-bottom:100px;

	h1{
		@include main-panel-text;
		font-size: 7em;
		padding-top: 80px;
	}
	h2{
		@include main-panel-text;
		font-size: 5em;
	}

	hr{
		opacity: 0.1;
	}
}
.logoNav{
	height: $navHeight;
	opacity: 0;
}
.top-bar{
	ul{
		li{
			a{
				@include transitionEase;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 17px;
			}
		}
	}
}
.navList{
	li{
		&:before {
			content: '\00a0\2022\00a0\00a0'; /* | */
			color:#999;
			color:rgba(0,0,0,0.2);
			font-size:20px;
		}
		&:first-child:before {
			content: '';
		}
		.navContact{
			color: #DF636D;
		}
	}
}
.top-bar-section ul li > a{
	display: inline;
}

.visible{
	@include transitionEase;
	opacity: 1;
}
.hidden{
	@include transitionEase;
	opacity: 0;
}

@media only screen and (max-width: 807px) {
	body { font-size: 0.8em; }
	.main-panel{
		height: 450px;
	}
}
@media only screen and (max-width: 765px) {
	.top-bar{
		ul{
			li{
				a{
					font-size: 0.8em;
				}
			}
		}
	}
	.title-area{
		width: 10%;
	}
}

@media only screen and (max-width: 640px) { /* topbar collapse */
	body { font-size: 0.5em; }
	.top-bar{
		ul{
			li{
				a{
					font-size: 0.8em;
				}
			}
		}
	}
	.main-panel{
		height: 250px;
		h1{
			padding-top: 20px;
		}
	}
	.top-bar-section ul li > a{
		display: block;
	}
	.navList{
		li{
			&:before {
				content: '';
			}
		}
	}
	.title-area{
		width: 100%;
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";